body{
    margin: 0;
}
#content{
    z-index: 0;
    position: absolute;
}
/* menu  header start */
#logobarber{
    width: 150px;
    height: 150px;
    margin-left: 100px;
}
header{
    width: 100%;
    margin: auto;
}
/* mise en plce de la barre de recherche*/
.searchbar{
    position: relative;
    margin-right: 50px;
}
/* Placement du boutton/icon dans la barre de recherche*/
.icon{
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 0;
    top: 5px;
    transform: translateX(-5px);
}
/* Organisation de la barre du haut (logo+searchbar)*/
.barre_haut{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e5d2;
    margin-bottom: 30px;
    box-shadow: 10px 7px 7px lightgray;
}
/* Ajustement de style pour le boutton */
.RDV{
    height: 50px;
    width: 300px;
    background-color: #045b6d;
    color: white;
    border: none;
    box-shadow: 10px 5px 5px black;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
}
/* Ajustement de l'input text*/
#site-search{
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
}
/* Positionnement,fixation et style de la navigation */
.liste_nav{
    position: fixed;
    opacity: 0.9;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #e8e5d2;
    align-items: center;
}
/* Ajustement de style et positionnement pour la liste + li (en dessous)*/
.navlist{
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    margin-left: 100px;
    list-style: none;
}
ul.navlist>li{
    display: inline-block;
    margin-left: 50px;

}
/* Ajustement taille et position de l'image de moustache */
.moustache{
    width: 60px;
    height: 20px;
    margin-right: 80px;
}
/* Mise en place du background image*/
nav{
    position: relative;
    background: url(./ressources/bandeau.jpg.jpg) no-repeat center/cover;
}
/* Centrer le bouton*/
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 450px;
    margin: auto;
}
/* menu header end */
/* menu main start */
main{
    width: 90%;
    margin: auto;
}
/* Mise en place de police et taille des titres */
.titre{
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}
/* Mise en place des traits apres les titres */
h1:after{
    background-color: black;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: bottom;
    width: 40%;
}
/* Alignement et style du texte sous le premier titre */
.text{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0%;
    text-align: center;
    font-size: 24px;
}
/* Réglage des dimensions des images des cartes */
.img-card{
    width: 100%;
    height: 250px;
}
/* Application de flexbox dans la div container*/
.container{
    display: flex;
    /* flex-direction: row-reverse;  */
    width: 100%;
    height: 360px;
    gap: 20px;
}
/* Mise en place du style,bordure,padding des cartes*/
.fig1,.fig2,.fig3{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 455px;
    border: 5px solid #b45f02;
    text-align: center;
    font-size: 30px;
}
/* Changement d'ordre des colonnes*/
.ordre-1{
    order: 2;
}
.ordre-2{
    order: 3;
}
.ordre-3{
    order: 1;
}
/* Placement,style des liens 'tarif' des 3 cartes*/
.taro{
    position: relative;
    left: 155px;
    bottom: 20px; 
    width: 70px;
    height: 30px;
    background-color: #045b6d;
    font-size: 25px;
    color: white;
    border: 1px solid #045b6d;
    box-shadow: 10px 5px 5px black;
    font-family: 'Source Sans Pro', sans-serif;
}
/* menu main end */
/* menu footer start*/
/* Style + utilisation de flexbox dans le footer*/
footer{
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 300px;
    justify-content: space-between;
    background-color: #e8e5d2;
    margin-right: auto;
}
/* redimensionnement des logo pour les réseaux sociaux*/
.rs{
    width: 30px;
    height: 30px;
}
/* placement+ style pour la derniere ligne "copyright"*/
.cop{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    background-color: #e8e5d2;
    width: 100%;
    margin: auto;
}
/* Style des liens*/
a{
    text-decoration: none;
    color: black;
}
/* Ajustement de la position droite de la dernière partie du footer*/
.sn-rs{
    margin-right: 100px;
}
/* Dimensions pour le logo du footer*/
.logo_foot{
    margin-left: 70px;
    height: 150px;
    width: 150px;
}
/* Posionnement des logos des réseaux sociaux + style*/
.footlist{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 20px;
}
/* menu footer end*/
